name: Build judge environment

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
        name: Checkout code
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      - name: Build env
        run: |
          echo "PKG_VERSION=$(cat docker/judger-env/VERSION)" >> $GITHUB_ENV
          echo "PKG_FULL_VERSION=$(cat docker/judger-env/VERSION)-full" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push base judger environment image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: ./docker/judger-env/base/Dockerfile
          tags: |
            ryanlee2014/cupoj-judger-env:${{ env.PKG_VERSION }}
            ryanlee2014/cupoj-judger-env:latest
      - name: Build and push full judger environment image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: ./docker/judger-env/full/Dockerfile
          tags: ryanlee2014/cupoj-judger-env:${{ env.PKG_FULL_VERSION }}
